<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Core">
            <directory suffix="Test.php">./tests/Feature</directory>
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Modules">
            <directory suffix="Test.php">./src/Modules/*/Tests/Feature</directory>
            <directory suffix="Test.php">./src/Modules/*/Tests/Unit</directory>
        </testsuite>
        <testsuite name="NovaComponents">
            <directory suffix="Test.php">./src/nova-components/*/tests/Feature</directory>
            <directory suffix="Test.php">./src/nova-components/*/tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/config</directory>
                <directory>./src/database</directory>
                <directory>./src/resources</directory>
                <directory>./src/routes</directory>
                <directory>./src/Modules/*/Config</directory>
                <directory>./src/Modules/*/Database</directory>
                <directory>./src/Modules/*/Resources</directory>
                <directory>./src/Modules/*/Routes</directory>
                <directory>./src/nova-components/*/resources</directory>
                <directory>./src/nova-components/*/routes</directory>
                <directory>./src/nova-components/*/vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <server name="APP_KEY" value="base64:dFppajNLeU1qcGZ1RzJKQ1JEclhwcmp5VkdmU2U4d2k="/>
        <server name="APP_ENV" value="testing"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="DB_FOREIGN_KEYS" value="true"/>
        <server name="DB_CONNECTION" value="mysql"/>
        <server name="DB_HOST" value="127.0.0.1"/>
        <server name="DB_DATABASE" value="cms_test"/>
        <server name="DB_USERNAME" value="cms_test"/>
        <server name="DB_PASSWORD" value="secret"/>
        <server name="MAIL_MAILER" value="log"/>
    </php>
</phpunit>
